body {
    margin: 0;
    padding: 0;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.image-sidebar {
    flex-basis: 35vw;
    min-width: 0px;
    height: 100vh;
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.signup {
    width: 600px;
}

.signup-details {
    height: 500px;
    flex-basis: 50vw;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

label {
    display: block;
    width: 200px;
}

label::before {
    content: "hello";
}

input {
    display: block;
}